html {
    scroll-behavior: smooth; /* Acá se aplica el Smooth Scroll*/
}

body {
    background-color: black;
    font-family: "Raleway", sans-serif; /*Uso de Google Font Raleway*/
    color: white;
  }

.navbar-brand{ 
    width: 30px;
    font-size: 15px;
    font-weight: 200px;
    color: white;
    opacity: 0.8;
  }

.nav-link { 
    font-size: 15px;
    color: white;
    font-weight: 200px;
    opacity: 0.5;
}

#carouselExample img{ 
    height: 750px;
}

.favicon { 
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 3px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.textofooter { 
    font-size: 20px;
    color: white;
    font-weight: 200px;
}
